#logo-title {
  display: table;
  margin: 0 auto; /* auto permet de centrer */
}
.bg-secondary {
  background-color: #6C757D;
  color: white;
  padding: 10px 0;
}
#logo-title > *{
  float: left;
  margin: 5px 10px;
}
h1 {
  font-size: 2rem;
}
.main-nav {
  clear: both;
  list-style: none;
  display: table;
  margin: 15px auto;

}
.main-nav li {
  float: left;
  margin: 0 15px;
  font-size: 1.5em;
}

main {
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-size: 1.8rem;
}

.column {
  float: left;
  width: 22%;
  margin: 0 4% 0 0;
}
#column-last {
  margin: 0;
}
h3 {
  font-size: 1.6rem;
  margin: 20px 0 10px 0;
}
.card {
  background-color: #6C757D;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}
h4 {
  font-size: 1.4rem;
  margin: 15px 0 10px 0;
}
footer {
  clear: both;
}

footer button {
  margin: 20px auto;
  display: table;
}
