body {
  border: 10px solid red;
}
/* Elément container en display flex*/
#container {
  display: flex;
  flex-direction: row;
  border: 10px solid green;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
  align-items: flex-start;
  align-content: stretch;
}
#container > div {
  border: 10px solid blue;
  width: 30%;
  margin: 0;
}